@import '../shared';
.cohorts-list {
  display: grid;
  grid-gap: calc(4 * #{$spacing-unit});
  grid-template-columns: 1fr 1fr;
}

.cohort-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  text-align: left;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: calc(4 * #{$spacing-unit});

  & > * {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: calc(#{$spacing-unit}) 0;
    &:first-child {
      align-items: flex-start;
      margin-top: 0;
    }
    &:last-child {
      align-items: flex-end;
      align-self: flex-end;
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}

.cohort-card-icon-people {
  position: relative;
  top: -2px;
}

.cohort-card-headline {
  margin-top: -4px;
  height: 80px;
}

.cohort-card-icon-btn {
  margin: 0;
  padding: 0;
}

.special {
  display: flex;
  align-items: flex-start;
  & > * {
    margin-left: 5px;
  }
}

.cohort-card-btn-text {
  display: flex;
  align-items: center;
  color: $color-text-contrast;
}

.cohort-card-btn-arrow {
  margin-left: 10px;
  position: relative;
  left: 4px;
}
