@import '../shared.scss';

.activity-heading {
  font-size: 14px;
  margin-right: 2px;
  font-weight: bold;
  &__reading {
    color: $color-reading;
  }
  &__exercises {
    color: $color-exercises;
  }
}

.activity-bar {
  height: 20px;
  display: flex;
  padding-right: 20px;
  &__reading {
    background-color: $color-reading;
  }
  &__exercises {
    background-color: $color-exercises;
  }
}
