.navbar .container-fluid{
    flex-direction: column;
    align-items: flex-start;
}
.navbar-expand-lg .navbar-collapse, 
.navbar-expand-lg .navbar-nav{
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 992px) {
    .navbar {
      width: 28%;
      height: 100vh;
    }
    form input {
      margin-bottom: 0.7em;
    }
  }

  .navbar-brand {
    margin-left: 0.5em;
    padding-bottom: 0;
    border-bottom: 4px solid #464646;
  }
  .navbar {
    align-items: flex-start;
    width: 23%;
  }